# MacOS
.DS_Store

# Python virtual environment
venv/

# asdf version manager
.tool-versions

# pyenv version manager
.python-version

# Python cache files
**/__pycache__/

# Ignore dynaconf secret files
src/configs/.secrets.toml

# IDEA project-specific settings and configuration files
idea/

# logging file
*.log
phoenix/